<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>
    
    <link rel="Stylesheet" href="Style-catalogo.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
    <div class="header-content container">
            <div class="header-txt">
                <h1>Información sobre tus <span>juegos</span> <br> favoritos aquí </h1>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Saepe exercitationem esse vero sequi earum voluptatibus quos 
                    non dolore quasi sint doloribus nulla sapiente totam quo qui, 
                    consequuntur culpa ipsam debitis?
                </p>
                <div class="butons">
                    <a href="#" class="btn-1">Informacion</a>
                    <a href="#" class="btn-1">Juegos</a>
                </div>
            </div>
        </div>

    </header>  
    <br>

  <!--      <section class="popular container">
            <h2>Juegos Populares</h2>

            <div class="populares-content">
                <img src="C:/Users/Gian/Desktop/Reseñas/img/images/g1.jpg" alt="">
                <img src="C:/Users/Gian/Desktop/Reseñas/img/images/g2.jpg" alt="">
                <img src="C:/Users/Gian/Desktop/Reseñas/img/images/g3.jpg" alt="">
                <img src="C:/Users/Gian/Desktop/Reseñas/img/images/g4.jpg" alt="">
                <img src="C:/Users/Gian/Desktop/Reseñas/img/images/g5.jpg" alt="">
                <img src="C:/Users/Gian/Desktop/Reseñas/img/images/g6.jpg" alt="">
                <img src="C:/Users/Gian/Desktop/Reseñas/img/images/g7.jpg" alt="">
            </div>
        </section>-->


        <center><h2>PC</h2></center>
        <div class="swiper mySwiper container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g1.jpg" alt="">  
                </div>

                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g2.jpg" alt="">  
                </div>


                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g3.jpg" alt="">  
                </div>


                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g4.jpg" alt="">  
                </div>


                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g5.jpg" alt="">  
                </div>

                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g6.jpg" alt="">  
                </div>




            </div>

            

        </div>
<br>

        <center><h2>PS4</h2></center>
        <div class="swiper mySwiper container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g1.jpg" alt="">  
                </div>

                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g2.jpg" alt="">  
                </div>


                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g3.jpg" alt="">  
                </div>


                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g4.jpg" alt="">  
                </div>


                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g5.jpg" alt="">  
                </div>

                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g6.jpg" alt="">  
                </div>




            </div>

            

        </div>
<br>

        <center><h2>XBOX</h2></center>
        <div class="swiper mySwiper container">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g1.jpg" alt="">  
                </div>

                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g2.jpg" alt="">  
                </div>


                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g3.jpg" alt="">  
                </div>


                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g4.jpg" alt="">  
                </div>


                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g5.jpg" alt="">  
                </div>

                <div class="swiper-slide">
                    <div class="swiper-txt">
                        <h3>lorem impsum</h3>
                        <p>
                            Descripcion
                        </p>
                    </div>
                    <img src="img/images/g6.jpg" alt="">  
                </div>




            </div>

            

        </div>
<br>

        <center><h2>Nintendo Switch</h2></center>
        <div class="swiper mySwiper container">
    <div class="swiper-wrapper">

        <div class="swiper-slide">
            <div class="swiper-txt">
                <h3>lorem impsum</h3>
                <p>
                    Descripcion
                </p>
            </div>
            <img src="img/images/g1.jpg" alt="">  
        </div>

        <div class="swiper-slide">
            <div class="swiper-txt">
                <h3>lorem impsum</h3>
                <p>
                    Descripcion
                </p>
            </div>
            <img src="img/images/g2.jpg" alt="">  
        </div>


        <div class="swiper-slide">
            <div class="swiper-txt">
                <h3>lorem impsum</h3>
                <p>
                    Descripcion
                </p>
            </div>
            <img src="img/images/g3.jpg" alt="">  
        </div>


        <div class="swiper-slide">
            <div class="swiper-txt">
                <h3>lorem impsum</h3>
                <p>
                    Descripcion
                </p>
            </div>
            <img src="img/images/g4.jpg" alt="">  
        </div>


        <div class="swiper-slide">
            <div class="swiper-txt">
                <h3>lorem impsum</h3>
                <p>
                    Descripcion
                </p>
            </div>
            <img src="img/images/g5.jpg" alt="">  
        </div>

        <div class="swiper-slide">
            <div class="swiper-txt">
                <h3>lorem impsum</h3>
                <p>
                    Descripcion
                </p>
            </div>
            <img src="img/images/g6.jpg" alt="">  
        </div>




    </div>

    

        </div>
    


        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        <script src="script-catalogo.js" ></script>
     <!---     <main class="product container">

            <h2>Juegos de PC</h2>

            <div class="product-content">
                <div class="product-1">
                    <img src="C:/Users/Gian/Desktop/Reseñas/img/images/l1.jpg" alt="">
                    <div class="product-txt">
                        <h3>juego lorem</h3>
                        <div class="Reseña">
                            <a href="#" class="btn-2">Ir a Reseña</a>
                        </div>
                    </div>
                </div>

               <div class="product-content">
                    <div class="product-1">
                        <img src="C:/Users/Gian/Desktop/Reseñas/img/images/l2.jpg" alt="">
                        <div class="product-txt">
                            <h3>juego lorem</h3>
                            <div class="Reseña">
                                <a href="#" class="btn-2">Ir a Reseña</a>
                            </div>
                        </div>
                    </div>

                    <div class="product-content">
                        <div class="product-1">
                            <img src="C:/Users/Gian/Desktop/Reseñas/img/images/l3.jpg" alt="">
                            <div class="product-txt">
                                <h3>juego lorem</h3>
                                <div class="Reseña">
                                    <a href="#" class="btn-2">Ir a Reseña</a>
                                </div>
                            </div>
                        </div>

                        <div class="product-content">
                            <div class="product-1">
                                <img src="C:/Users/Gian/Desktop/Reseñas/img/images/l4.jpg" alt="">
                                <div class="product-txt">
                                    <h3>juego lorem</h3>
                                    <div class="Reseña">
                                        <a href="#" class="btn-2">Ir a Reseña</a>
                                    </div>
                                </div>
                            </div>

                            <div class="product-content">
                                <div class="product-1">
                                    <img src="C:/Users/Gian/Desktop/Reseñas/img/images/l5.jpg" alt="">
                                    <div class="product-txt">
                                        <h3>juego lorem</h3>
                                        <div class="Reseña">
                                            <a href="#" class="btn-2">Ir a Reseña</a>
                                        </div>
                                    </div>
                                </div>

                                <div class="product-content">
                                    <div class="product-1">
                                        <img src="C:/Users/Gian/Desktop/Reseñas/img/images/l6.jpg" alt="">
                                        <div class="product-txt">
                                            <h3>juego lorem</h3>
                                            <div class="Reseña">
                                                <a href="#" class="btn-2">Ir a Reseña</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="product-content">
                                        <div class="product-1">
                                            <img src="C:/Users/Gian/Desktop/Reseñas/img/images/l7.jpg" alt="">
                                            <div class="product-txt">
                                                <h3>juego lorem</h3>
                                                <div class="Reseña">
                                                    <a href="#" class="btn-2">Ir a Reseña</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="product-content">
                                            <div class="product-1">
                                                <img src="C:/Users/Gian/Desktop/Reseñas/img/images/l8.jpg" alt="">
                                                <div class="product-txt">
                                                    <h3>juego lorem</h3>
                                                    <div class="Reseña">
                                                        <a href="#" class="btn-2">Ir a Reseña</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="product-content">
                                                <div class="product-1">
                                                    <img src="C:/Users/Gian/Desktop/Reseñas/img/images/l9.jpg" alt="">
                                                    <div class="product-txt">
                                                        <h3>juego lorem</h3>
                                                        <div class="Reseña">
                                                            <a href="#" class="btn-2">Ir a Reseña</a>
                                                        </div>
                                                    </div>
                                                </div>-->
                
            </div>
        </main>


        <section class="contact container">

            <div class="contact-content">
                <h3>Suscribete a nuestro blog</h3>
                <form>
                    <input type="email" placeholder="escribe tu correo">
                    <input type="submit" class="btn-3" value="Enviar">
                </form>
            </div>
        </section>









</body>
</html>