<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reseñas de Videojuegos</title>
    <link rel="stylesheet" href="Style-reseñas.css" />
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <script src="Scriptreseñas.js" defer></script>


  </head>
  <body>
    <script src="../Pagina reseñas/Java.js"></script>
    <nav>
      <div class="logo">
        <a href="#">Mi sitio web</a>
      </div>
      <div class="toggle">
        <i class="fas fa-bars"></i>
      </div>
      <ul class="menu">
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Acerca de</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Productos</a>
          <ul class="dropdown-menu">
            <li><a href="#">Producto 1</a></li>
            <li><a href="#">Producto 2</a></li>
            <li><a href="#">Producto 3</a></li>
          </ul>
        </li>
        <li><a href="#">Contacto</a></li>
        <li class="search">
          <form class="search-form">
            <input type="text" placeholder="Buscar" />
            <button type="submit"><i class="fas fa-search"></i></button>
          </form>
        </li>
      </ul>
    </nav>
    
</head>

  <div class="container">
    <div class="image">
      <img src="" alt="">
    </div>
    <div class="details">
      <h2>7DaysToDie</h2>
      <p><strong>Desarrollador:</strong> The Fun Pimps</p>
      <p><strong>Género:</strong> Videojuego de terror, mundo abierto, sandbox y supervivencia</p>
      <p><strong>Fecha de Lanzamiento:</strong> 16 de agosto de 2013</p>
      <p><strong>Descripción:</strong> 7 Days to Die es un juego de mundo abierto que combina de forma extraordinaria juegos de disparos en primera persona, supervivencia de terror, defensa de torres y rol. Juega al primer RPG de supervivencia zombi de entorno abierto. ¡Navezgane te espera!</p>
    </div>
  </div>

  <br>
 
    <div class="rating-box">
      <header>Reseña</header>
      <div class="stars">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </div>
    </div>

<!----------------------------------------------------------------------------------------------------------------------------->

    <div class="container">
      <div class="comment__container" id="first-comment">
        <div class="comment__card">
          <h3 class="comment__title">The first comment</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Distinctio animi inventore nostrum perferendis quisquam fuga placeat sint,
            temporibus ipsa ducimus voluptates id. Accusantium labore excepturi, porro nulla amet optio odit?
          </p>
          <div class="comment__footer">
              <div>Likes 124</div>
              <div>Dislikes 23</div>
              <div class="show-replies">Reply 2</div>
          </div>
        </div>
<!----------------------------------------------------------------------------------------------------------------------------->
      <div class="comment__container" dataset="first-comment" id="first-reply">
        <div class="comment__card">
          <h3 class="comment__title">The first comment</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Distinctio animi inventore nostrum perferendis quisquam fuga placeat sint,
            temporibus ipsa ducimus voluptates id. Accusantium labore excepturi, porro nulla amet optio odit?
          </p>
          <div class="comment__footer">
              <div>Likes 124</div>
              <div>Dislikes 23</div>
              <div class="show-replies">Reply 2</div>
          </div>
        </div>
        </div>
<!----------------------------------------------------------------------------------------------------------------------------->
        <div class="comment__container" dataset="first-comment">
          <div class="comment__card">
            <h3 class="comment__title">The first comment</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Distinctio animi inventore nostrum perferendis quisquam fuga placeat sint,
              temporibus ipsa ducimus voluptates id. Accusantium labore excepturi, porro nulla amet optio odit?
            </p>
            <div class="comment__footer">
                <div>Likes 124</div>
                <div>Dislikes 23</div>
                <div class="show-replies">Reply 2</div>
            </div>
          </div>
          </div>

<!----------------------------------------------------------------------------------------------------------------------------->

      </div>
    </div>
</body>
</html>