<div class="carousel">
  <img src="/assets/img/Borderlands3 fondo.png" class="slide" />
  <img src="/assets/img/Arcade.png" class="slide" />
  <img src="/assets/img/lord_jesus_bring_mario_in_heaven__by_j_mantheangel_degerkg-pre.jpg" class="slide" />
</div>
</div>
<div class="contenido1">
  <div class="read-more-container">
    <div class="container">
      <div class="NotCont">a</div>
      <div class="read-more-text">a</div>
      <div class="read-more-text">a</div>
      <button class="read-more-btn">Read More...</button>
    </div>
  </div>
  <div class="Juegui1" id="secondContainer">
    <div class="NotCont1"></div>
    <div class="NotCont1"></div>
    <div class="NotCont1"></div>
    <div class="NotCont1 oculto"></div>
    <div class="NotCont1 oculto"></div>
    <button id="toggleButton2" onclick="toggleElements2('secondContainer')"><img
        src="/assets/img/Flechita abajo.png"></button>
  </div>
</div>

<div class="read-more-container">

  <div class="container">
    <div class="NotCont">a</div>
    <div class="read-more-text">a</div>
    <div class="read-more-text">a</div>
    <button class="read-more-btn">Read More...</button>
  </div>

  <div class="container">
    <div class="NotCont">a</div>
    <div class="read-more-text">a</div>
    <div class="read-more-text">a</div>
    <button class="read-more-btn">Read More...</button>
  </div>

</div>