<div class="carousel">
  <img src="/assets/img/Borderlands3 fondo.png" class="slide" />
  <img src="/assets/img/Arcade.png" class="slide" />
  <img src="/assets/img/lord_jesus_bring_mario_in_heaven__by_j_mantheangel_degerkg-pre.jpg" class="slide" />
</div>
</div>
  <div class="read-more-container">
    <div class="container1">
      <div class="ContCent">
      <div class="NotCont">a</div>
      <div class="NotCont">a</div>
      <div class="NotCont">a</div>
      <div class="read-more-text">a</div>
      <div class="read-more-text">a</div>
      <button class="read-more-btn">Read More...</button>
      </div>
    </div>
    <div class="container2">
      <div class="ContCent">
      <div class="NotCont">a</div>
      <div class="NotCont">a</div>
      <div class="NotCont">a</div>
      <div class="read-more-text">a</div>
      <div class="read-more-text">a</div>
      <button class="read-more-btn">Read More...</button>
    </div>
    </div>
  </div>