<div id="carouselExampleAutoplaying" class="carousel slide mt-2 mb-2" data-bs-ride="carousel">
  <div class="carousel-inner container-sm ">
    <div class="carousel-item active">
      <img src="/assets/img/Destiny2.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/Borderlands3 fondo.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item ">
      <img src="/assets/img/Arcade.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  <div class="read-more-container">
    <div class="container1">
      <div class="ContCent">
      <article class="item-post">
        <div class="item-post__content">
          <header class="item-post__header">
            <h2 class="item-post__tittle">
              <a href="">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam assumenda repellat reiciendis eum ab debitis sint, voluptas dicta ut est ipsa nihil, esse non. Reiciendis eligendi molestias quasi praesentium rerum.
            </h2>
          </header>
          <footer class="item-post__footer">AAAAAAAAA</footer>
        </div>
        <div class="item-post__img">
          <picture>
            <source media="(min-width: 1200px)" srcset="https://i.blogs.es/be2367/l-intro-1628654181/1024_682.jpeg">
            <source media="(min-width: 768px)" srcset="https://i.blogs.es/be2367/l-intro-1628654181/840_840.jpeg">
            <source media="(min-width: 320px)" srcset="https://i.blogs.es/be2367/l-intro-1628654181/375_375.jpeg">
            <img alt="" src="https://i.blogs.es/be2367/l-intro-1628654181/200_200.jpeg" srcset="https://i.blogs.es/be2367/l-intro-1628654181/1024_682.jpeg 1200w, https://i.blogs.es/be2367/l-intro-1628654181/840_840.jpeg 767w, https://i.blogs.es/be2367/l-intro-1628654181/200_200.jpeg 320w" sizes="100vw">
          </picture>
        </a>
        </div>
      </article>
      <article class="NotCont">a</article>
      <article class="NotCont">a</article>
      </div>
    </div>
    <div class="container2">
      <div class="ContCent">
      <div class="NotCont">a</div>
      <div class="NotCont">a</div>
      <div class="NotCont">a</div>
    </div>
    </div>
  </div>