
    <div class="carousel">
        <img src="/assets/img/Borderlands3 fondo.png"  class="slide"/>
        <img src="/assets/img/Arcade.png"  class="slide"/>  
        <img src="/assets/img/lord_jesus_bring_mario_in_heaven__by_j_mantheangel_degerkg-pre.jpg" class="slide"/>
    </div>
    </div>
    <div class="contenido1">
      <div class="Noti">Noticias </div>
      <div class="juegi">Juegos</div>
    </div>
    <div class="contenido1">
      <div class="Noti1"> 
        <div class="NotCont"></div>
        <div class="NotCont"></div>
        <div class="NotCont"></div>
        <img src="/assets/img/Flechita abajo.png" class="FlechaAbajo">
    </div>
      <div class="juegi1"></div>
    </div>